<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2017-2021</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor in Computer Science</div>
                                <h4 class="category">FAST(NUCES)</h4>
                                <ul>
                                    <li>CGPA <b>3.01</b></li>
                                </ul>
                                <!-- <ul>
                                    <li> R.V College Of Engineering(Affilated to VTU) <b>ranks 1st</b> in Karnataka </li>
                                        <li>Completed B.E in Computer Engineering with <b>8.1 CGPA</b>.</li>
                                </ul> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2015-2017</p>
                        <div class="h5">A-Levels</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">In Engineering</div>
                            <h4 class="category">From Army Public School & College</h4>
                            <ul>
                                    <li>Completed  <b>A-Levels</b> with <b>2A's</b></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2013-2015</p>
                        <div class="h5">O-Level</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">In Engineering</div>
                                <h4 class="category">From The City Scool</h4>
                                <ul>
                                        <li>Completed <b>O-Level</b> with <b>6 A's & 1 A* </b></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2008-2009</p>
                        <div class="h5">Sedcondary School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Sedcondary School(KSEEB)</div>
                                <h4 class="category">Sri Adhichunchanagiri English School Hassan</h4>
                                <ul>
                                        <li>Completed  SSLC with <b>65.6%</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div> -->
    </div>
</div>                                               