<div class="section" id="projects">
    <div class="container py-2 cc-experience">
        
        <div class="h4 text-center mb-4 title">Projects</div>
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-img" style="background-image:url(../../../assets/images/book.jpg);">
                    <div class="overlay">
                        <div class="overlay-content">
                            <a href="https://book-store-3b575.web.app/" target="_blank">View Project</a>
                        </div>
                    </div>
                </div>
                
                <div class="card-content">
                    <a href="https://github.com/Afnan1278/online-BookStore" target="_blank">
                        <h2>Online Book-Store</h2>
                        <p>Technologies used: Angular, Firebase</p>
                    </a>
                </div>
            </div>
            
            <div class="card">
                <div class="card-img" style="background-image:url(../../../assets/images/bbc-sports.jpg);">
                    <div class="overlay">
                        <div class="overlay-content">
                            <a href="https://github.com/Afnan1278/KNN-KMEANS" target="_blank">View Project</a>
                        </div>
                    </div>
                </div>
                
                <div class="card-content">
                    <a href="https://github.com/Afnan1278/KNN-KMEANS" target="_blank">
                        <h2>Classification & Cluestering</h2>
                        <p>Algorithm: KNN & K-MEANS Technologies: NLTK, Python</p>
                    </a>
                </div>
            </div>
            
            <div class="card">
                <div class="card-img" style="background-image:url(../../../assets/images/search-engine.jpg);">
                    <div class="overlay">
                        <div class="overlay-content">
                            <a href="https://github.com/Afnan1278/VSM" target="_blank">View Project</a>
                        </div>
                    </div>
                </div>
                
                <div class="card-content">
                    <a href="https://github.com/Afnan1278/VSM" target="_blank">
                        <h2>Search Engine</h2>
                        <p>Algorithm: VSM Model</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-img" style="background-image:url(../../../assets/images/bio.jpg);">
                    <div class="overlay">
                        <div class="overlay-content">
                            <a href="https://github.com/Afnan1278/PROTIEN-GLOBAL-ALGNMNET" target="_blank">View Project</a>
                        </div>
                    </div>
                </div>
                
                <div class="card-content">
                    <a href="https://github.com/Afnan1278/PROTIEN-GLOBAL-ALGNMNET" target="_blank">
                        <h2>Bio-Informatics</h2>
                        <p>Algorithm: Global-Sequence-Alignment</p>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-img" style="background-image:url(../../../assets/images/download.png);">
                    <div class="overlay">
                        <div class="overlay-content">
                            <a href="https://github.com/Afnan1278/Django-blog-posting" target="_blank">View Project</a>
                        </div>
                    </div>
                </div>
                
                <div class="card-content">
                    <a href="https://github.com/Afnan1278/Django-blog-posting" target="_blank">
                        <h2>Blog-Posting</h2>
                        <p>Technologies used: Django, Sqlite</p>
                    </a>
                </div>
            </div>
        </div>
        </div>
        
</div>
        